/* GLOBAL STYLES */
p{
  font-family: 'Raleway', sans-serif;
  font-weight: 300px;
}
/* NAVBAR STYLES */
.navbar-default{
  background-color: transparent;
  border-color:transparent;
}
.navbar-default .navbar-nav>li>a:hover{
  color:#F8512f;
  background-color: rgba(17, 17, 17, .5);
}
.navbar-default .navbar-nav>.active>a:hover{
  color:#F8512f;
  background-color: rgba(17, 17, 17, .5);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus{
  color:#fff;
  background-color: rgba(17, 17, 17, .5);
}
.navbar-default .navbar-nav>li>a{
  color:#fff;
  text-shadow: 1px 1px 2px #0a0a0a;
}
/* CAROUSEL STYLES */
.carousel-inner .item{
  height:60vh;
  background-size: cover;
  background-position: center;
}
.carousel-wrapper{
  height:600px;
}
.carousel-caption{
padding-bottom:100px;
}
.first-slide{
  background-image: url("../img/wood-2.jpg");
}
.slide-logo{
  max-height:1750px;
}
.second-slide{
  background-image: url('../img/restaurant-2.jpg');
}
.third-slide{
  background-image: url('../img/farm-2.jpg');
}
.btn-primary{
  background-color:#F8512f;
  border-style: none;
}
/* OUR_STORY STYLES */
#our_story{
  height:500px;
  display: flex;
  align-items: center;

}
#our_story h1,
#review h1,
#menu h1{
  font-family: 'Lobster', cursive;
  color: #F8512f;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0a0a0a;
}
#our_story h2{
  font-family:'PLayfair Display', serif;
  font-weight:700;
  font-size:12em;
  margin-top: 0;
  color:rgba(149, 147, 147, 0.2);
  position:absolute;
  z-index: -1;
}
#our_story h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2em;
}
#review{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  background-image: url('../img/food_review.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#review p{
  color:white;
  font-family:"Raleway", sans-serif;
  font-size: 2em;
  text-shadow: 1px 1px 5px #0a0a0a;
}
#review .container{
  background-color: rgba(20, 20, 20, .6);
  padding: 10px;
  border-radius: 5px;
}
/* MENU */
#menu {
  background-image: url('../img/black_linen.png');
  background-size: cover;
  min-height: 500px;
}
#menu h1{
  color: #fff;
}
#menu a{
  color: #F8512F;
  font-family: "Raleway", sans-serif;
  font-weight:700;
  text-transform: uppercase;
}

#menu .tab-content .row{
  margin:0;
}
#menu .tab-content .food{
  background-color: #fff;
  padding:10px;
}
#contact {
  background-color: #F8512f;
  min-height: 500px;
  color:#fff;
  padding-bottom: 50px;
}
#contact h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700px;
  font-size: 4em;
  margin-top: 50px;
}
#contact .form-group span{
  color: #ff0d06;
}
#contact form{
  border: 1px solid #fff;
  background-color: #F8512f;
  padding: 15px;
}
#contact p{
  font-weight: 300;
}
