.navbar-default{
  background-color: transparent;
  border-color:transparent;
}
.navbar-default .navbar-nav>li>a:hover{
  color:#F8512f;
  background-color: rgba(17, 17, 17, .5);
}
.navbar-default .navbar-nav>.active>a:hover{
  color:#F8512f;
  background-color: rgba(17, 17, 17, .5);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus{
  color:#fff;
  background-color: rgba(17, 17, 17, .5);
}
.navbar-default .navbar-nav>li>a{
  color:#fff;
  text-shadow: 1px 1px 2px #0a0a0a;
}
.carousel-inner .item{
  height:60vh;
  background-size: cover;
  background-position: center;
}
.carousel-wrapper{
  height:100vh;
}
.carousel-caption{
padding-bottom:100px;
}
.first-slide{
  background-image: url("../img/wood-2.jpg");
}
.slide-logo{
  max-height:190px;
}
.second-slide{
  background-image: url('../img/restaurant-2.jpg');
}
.third-slide{
  background-image: url('../img/farm-2.jpg');
}
.btn-primary{
  background-color:#F8512f;
  border-style: none;
}
